body{margin:0;padding:0;}
.nav-content{display:inline-block;cursor:pointer;margin:0 5px;}
.bottom{text-align:center;padding:10px 0 0 0;}
.btn-default{border-color:#8dcf8a;border:3.5px solid #8dcf8a;font-size: 16px}
.selected{opacity:0.6;}
.content{width:800px;text-align: justify;margin:25px auto 0;font:18px Helvetica;line-height: 2.2em}
